.input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #fa5555;
  color: #fff;
  background-color: #2e2323;
  margin-bottom: 15px;
  padding: 7px 0px;
  outline: none;
  @media screen and(min-width:1025px) {
    padding: 12px 0px;
  }
}
