.item {
  width: 48%;
  margin-bottom: 20px;
  @media screen and(min-width:768px) {
    width: 30%;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
  }

  &__img {
    width: 100%;
  }

  &__genre {
    font-size: 12px;
  }
}
